<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Project form</title>
</head>
<body>
    <h2>Student Form</h2>
    <form th:action="@{/submit}" th:object="${user}" method="post">
    <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="Enter your name" required> <br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required> <br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required> <br>

        <label for="age">Age:</label>
        <input type="number" id="age" name="age" min="1" max="100"> <br>

        <p>Gender:</p>
        <input type="radio" id="male" name="gender" value="male">
        <label for="male">Male</label>
        <input type="radio" id="female" name="gender" value="female">
        <label for="female">Female</label> <br>

        <p>Interests:</p>
        <input type="checkbox" id="sports" name="interests" value="sports">
        <label for="sports">Sports</label>
        <input type="checkbox" id="music" name="interests" value="music">
        <label for="music">Music</label> <br>

        <label for="country">Country:</label>
        <select id="country" name="country">
            <option value="usa">USA</option>
            <option value="canada">Canada</option>
            <option value="uk">UK</option>
        </select> <br>

        <label for="message">Message:</label>
        <textarea id="message" name="message" rows="4" cols="50"></textarea><br>

        <label for="file">Upload File:</label>
        <input type="file" id="file" name="file"> <br>

        <label for="dob">Date of Birth:</label>
        <input type="date" id="dob" name="dob"> <br>

        <input type="submit" value="Submit">
        <input type="reset" value="Reset">
    </form>
</body>
</html>
